@import "variable";


section{
    font-size: 2rem;
    position: relative;
    .btn{
        font-size: 1.5rem;
    }
    img{
        width: 100%;
        height: 50%;
        object-fit: cover;
        border-radius: 4px;
    }
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        backdrop-filter: blur(8px);
        background-color: rgba(255, 255, 255, 0.652);
        padding: 24px;
        border-radius: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}