@charset "UTF-8";
section {
  display: flex;
}

/* ===== 左にあるナビ (マイページ共通ナビ) ===== */
#navi {
  min-width: 300px;
  margin: 0 20px;
  /*     a:nth-of-type(3){
        background: $bgc-4dp;
    } */
}

#navi div {
  position: sticky;
  top: 110px;
}

#navi a {
  display: block;
}

#navi a:hover {
  background-color: #f0f0f0;
}

#navi a > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  height: 60px;
  border-bottom: solid 1px #f0f0f0;
}

#navi a:last-child {
  color: #32C1EB;
}

.logout_link {
  transition: color 0.3s;
}

.logout_link:hover {
  color: #fd2760 !important;
}

/* ===== 右側のコンテンツ（main） ===== */
main {
  padding: 0 20px;
}

.contents h2 {
  font-size: 1.4rem;
  padding-bottom: 30px;
  border-bottom: solid 1px #f0f0f0;
  margin-bottom: 30px;
}

.current {
  background-color: #f0f0f0;
}

#item_list_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  /* 取引中のラベル */
  /* 売り切れのラベル */
}

#item_list_wrapper .item, #item_list_wrapper .transaction {
  width: 180px;
  height: 180px;
  position: relative;
}

#item_list_wrapper .item + div, #item_list_wrapper .transaction + div {
  margin: 5px 0 15px 0;
}

#item_list_wrapper .delete_btn {
  display: block;
  margin: 0 0 0 auto;
  background: none;
  font-size: 0.8rem;
  color: #bdbdbd;
  text-align: right;
  background: none;
  border-radius: 4px;
  padding: 0;
}

#item_list_wrapper .delete_btn:hover {
  color: #FC1731;
  transition: 0.3s;
}

#item_list_wrapper .transaction:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background-color: rgba(255, 153, 0, 0.904);
}

#item_list_wrapper .transaction:after {
  content: "取引中";
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 0.9rem;
  color: #FFF;
}

#item_list_wrapper .sold:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 50px solid #FC1731;
  border-right: 50px solid transparent;
}

#item_list_wrapper .sold:after {
  content: "SOLD";
  position: absolute;
  top: 5px;
  left: 3px;
  font-size: xx-small;
  color: #FFF;
  transform: rotate(-45deg) translate(-5px, 5px);
}

#item_list_wrapper .item_price {
  position: absolute;
}
