section {
  min-height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

section h1 {
  font-weight: 900;
  font-size: 1.8rem;
  color: #00c431;
}

section span.material-icons-outlined {
  font-size: 7rem !important;
}
