html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  letter-spacing: 1px;
  scroll-behavior: smooth;
}

input {
  border: 1px solid #a2a2a2;
  border-radius: 4px;
  padding: 4px;
}

input:focus, input:not(:placeholder-shown) {
  border-color: #141414;
}

button, .btn {
  background-color: #832ee4;
  color: white;
  border-radius: 4px;
  padding: 8px 24px;
  transition: opacity 0.3s;
}

button:hover, .btn:hover {
  opacity: 0.8;
}

section {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}

#item_list_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

#item_list_wrapper .item {
  width: 180px;
  height: 180px;
  background-color: #b7c6f0;
  position: relative;
  background-color: #ededed;
}

#item_list_wrapper .item + div {
  margin: 5px 0 15px 0;
}

#item_list_wrapper .item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#item_list_wrapper .item_price {
  font-weight: 900;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 15px 0 0 5px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.644) 0%, rgba(255, 255, 255, 0) 100%);
}

#item_list_wrapper a > div:nth-of-type(2) {
  width: 180px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
}

.rec_items {
  font-size: 1.6rem;
  font-weight: 800;
  margin: 40px 0 20px 0;
}

.premium_logo {
  width: 1.4em !important;
}

.ansim {
  position: absolute;
  top: 0;
  right: 6px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 60px;
  z-index: 2;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

header .top_logo {
  height: 40px;
  transition: opacity 0.5s;
}

header .top_logo:hover {
  opacity: 0.7;
}

header #header_box {
  padding: 10px 5%;
  display: flex;
}

header #header_box .right, header #header_box .left {
  display: flex;
  align-items: center;
  gap: 20px;
}

header #header_box .left .search_bar {
  display: flex;
  align-items: center;
  position: relative;
}

header #header_box .left .category_list {
  position: absolute;
  top: 99%;
  left: 0;
  border: solid 1px #aaa;
  background: #fafafa;
  border-radius: 5px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

header #header_box .left .category_list img {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
}

header #header_box .left .category_list ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 700px;
  padding: 30px 20px 15px;
}

header #header_box .left .category_list ul::after {
  content: "";
  display: block;
  width: 65%;
}

header #header_box .left .category_list ul li {
  background-color: #fff;
  border-radius: 4px;
  border: solid 1px #eee;
  margin: 3px 0;
  transition: 0.2s;
}

header #header_box .left .category_list ul li a {
  display: block;
  width: 200px;
  padding: 5px;
  box-sizing: initial;
  font-size: .8em;
}

header #header_box .left .category_list ul li:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

header #header_box .left .is-inactive {
  display: none;
}

header #header_box .right {
  width: fit-content;
  margin-left: auto;
}

header #header_box .right .notification span {
  font-size: 30px !important;
}

header #header_box .right .user_icon {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: black;
}

header #header_box .right .account_img {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

header #header_box .right span.account_img {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color: #cacaca;
  border-radius: 100px;
}

#header_spacer {
  height: 60px;
  width: 100%;
  margin-bottom: 50px;
}

footer {
  background-color: #f0f0f0;
  padding: 25px 50px;
}

footer ul {
  margin: 25px auto;
  width: 70%;
  display: flex;
  justify-content: center;
}

footer ul li {
  color: #555;
  font-size: 0.9em;
  border-left: solid 1px #aaa;
  border-right: solid 1px #aaa;
  padding: 0 30px;
  transition: 0.1s;
}

footer ul li:nth-of-type(1) {
  border-left: none;
}

footer ul li:nth-of-type(4) {
  border-right: none;
}

footer ul li:hover {
  color: #222;
}

footer address {
  font-size: 0.8em;
  width: 100%;
  text-align: center;
  color: #777;
}
