<div id="navi">
    <div>
        <a href="./my_page.php"><div><div  class="navi_content">マイページ</div><div class="navi_arrow">＞</div></div></a>
        <a href="./my_page_sell.php"><div><div  class="navi_content">出品した商品</div><div class="navi_arrow">＞</div></div></a>
        <a href="./my_page_buy.php"><div><div  class="navi_content">購入した商品</div><div class="navi_arrow">＞</div></div></a>
        <a href="./logout.php" class="logout_link"><div><div  class="navi_content">ログアウト</div></div></a>
     </div>
 </div>